@import "tailwindcss";

@theme {
    --font-sans: "Space Grotesk", sans-serif;

    --shadow-brutal: 6px 6px 0 #000;
    --shadow-brutal-lg: 10px 10px 0 #000;
    --shadow-brutal-yellow: 6px 6px 0 #a65f00;
    --shadow-brutal-yellow-lg: 10px 10px 0 #a65f00;
    --shadow-brutal-white: 6px 6px 0 #f5f5f4;
    --shadow-brutal-white-lg: 10px 10px 0 #f5f5f4;
}

/* 
@utility container {
    margin-inline: auto;
    padding-inline: 1.5rem;
} */

@custom-variant dark (&:where(.dark, .dark *));

/* this is for the scrolling banner */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.scroll-container {
    overflow: hidden;
    width: 100%;
}

.scroll-content {
    display: flex;
    width: fit-content;
    animation: scroll 30s linear infinite;
}

.scroll-item {
    white-space: nowrap;
    flex-shrink: 0;
}

/* hide scrollbar for a cleaner look */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }